<div class="center hero-unit">
      <h1>Welcome to Movie thingy</h1>

      <h2>
        This is the home page for the
        <a href="#">Movie Thingy</a>
        Movie Thingy.
      </h2>

      <%= link_to "Sign up now!", signup_path, {:style=>'color:#FFFFFF;', :class => "btn btn-large btn-primary"} %>
</div>
