<div class="center hero-unit">
      <h1>Welcome to MOVIENIGHT</h1>

      <h2>
        Tired of people asking you not to discuss if Ewok's are cool or not?
      </h2>

      <%= link_to "Sign Up", signup_path, {:style=>'color:#FFFFFF;', :class => "btn btn-large btn-primary"} %>
</div>
