<footer class="footer">
  <small>
    <a href="#">Movie thingy</a>
    av Nina Andersen, Asgeir Sognefest & Morten Øvrebø
  </small>
  <nav>
    <ul>
        <li>Contact</li>
        <li>Rights</li>
        <li>other stuff</li>
    </ul>
  </nav>
</footer>